<div class="category-list">
  <span *ngFor="let child of breadcrumbs">
    &gt; <button mat-button (click)="clickBreadcrumb(child)">
      {{child.type === 'category' ? categoryNames[child.id] : settingNames[child.id]}}
    </button>
  </span>
  <form *ngIf="!settingClicked">
    <mat-form-field>
      <input matInput type="text" placeholder="Search for settings..." />
    </mat-form-field>
  </form>
  <mat-action-list *ngIf="!settingClicked">
    <!-- <button mat-list-item
            [disabled]="(child.type === 'category' ? categoryNames[child.id] : settingNames[child.id]) === 'Loading...'"
            *ngFor="let child of category.children"
            (click)="click(child)">
      {{child.type === 'category' ? categoryNames[child.id] : settingNames[child.id]}}
    </button> -->
    <button mat-list-item *ngFor="let child of children" (click)="clickChild(child)">{{child.name}}</button>
    <mat-divider></mat-divider>
  </mat-action-list>
  <app-setting-editor *ngIf="settingClicked" [settingId]="settingId" (cancel)="cancel()"></app-setting-editor>
</div>
