<mat-form-field>
  <button class="selectOverlay" [matMenuTriggerFor]="site"></button>
  <mat-label>
    {{
      getTenant().environment == null
        ? "Select a tenant"
        : getTenant().site + " (" + getTenant().environment + ")"
    }}
  </mat-label>
  <mat-select></mat-select>
</mat-form-field>
<mat-menu #site="matMenu">
  <div *ngFor="let tenant of tenants">
    <button mat-menu-item [matMenuTriggerFor]="environment">
      {{ tenant.Name }}
    </button>
    <mat-menu #environment="matMenu">
      <button
        mat-menu-item
        *ngFor="let environment of tenant.Environments"
        (click)="changeTenant(tenant.Name, environment.Name)"
      >
        {{ environment.Name }}
      </button>
    </mat-menu>
  </div>
</mat-menu>
