/* Container */
.publish-page {
  margin: auto;
  max-width: 640px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

/* Buttons */
button#edit {
  width: 200px;
}

button#publish {
  width: 100%;
  align-self: center;
}

/* Material List */
.mat-list-item.header .mat-flat-button,
span {
  width: 150px;
  margin: auto;
}

/* Table */
table {
  width: 100%;
}

.mat-header-cell {
  text-align: center;
}

.mat-list-item.header {
  opacity: 0.9;
}

.mat-form-field {
  width: 100%;
}
