<div class="publish-page">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Publish</mat-card-title>
      <mat-card-subtitle *ngIf="!settingQueue">
        The following settings have been changed:
      </mat-card-subtitle>
    </mat-card-header>
    <ng-container *ngIf="!settingQueue">
      <!-- Table -->
      <mat-card-content>
        <!-- List -->
        <mat-action-list disableRipple="true">
          <mat-divider></mat-divider>
          <mat-list-item class="header" color="primary" (mouseover)="selected = null">
            <span>Setting Name</span>
            <span>Current Value</span>
            <span>New Value</span>
          </mat-list-item>
          <mat-divider></mat-divider>

          <div *ngFor="let setting of settingQueue">
            <mat-list-item (mouseover)="selected = setting">
              <span>{{ setting.settingName }}</span>
              <span>{{ setting.originalParameters[0] }}</span>
              <span>{{ setting.newParameters[0] }}</span>
              <button mat-icon-button
                      [matMenuTriggerFor]="menu"
                      *ngIf="selected == setting">
                <mat-icon>more_vert</mat-icon>
              </button>

              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="onDeleteClicked()">
                  <mat-icon color="warn">delete</mat-icon>
                  <span>Delete</span>
                </button>
              </mat-menu>
            </mat-list-item>
            <mat-divider></mat-divider>

          </div>
        </mat-action-list>
      </mat-card-content>

      <!-- Reference ID input -->
      <mat-form-field appearance="outline" color="primary">
        <mat-form-field hintLabel="Max 20 characters">
          <mat-label>Reference ID:</mat-label>
          <input matInput type="text" maxlength="20" [formControl]="publishForm.controls.referenceId">
          <mat-error *ngIf="publishForm.controls.referenceId.errors">ID must be a positive number</mat-error>
          <mat-hint align="end">{{publishForm.controls.referenceId.value.length}}/20</mat-hint>
        </mat-form-field>
      </mat-form-field>

      <!-- Description Text Area -->
      <mat-form-field appearance="outline" color="primary">
        <mat-form-field hintLabel="Max 250 characters">
          <mat-label>Write description of changes...</mat-label>
          <textarea matInput maxlength="250" [formControl]="publishForm.controls.commitMessage"></textarea>
          <mat-error *ngIf="publishForm.controls.commitMessage.errors"></mat-error>
          <mat-hint align="end">{{publishForm.controls.commitMessage.value.length}}/250</mat-hint>
        </mat-form-field>
      </mat-form-field>

      <!-- Publish Button -->
      <button id="publish"
              mat-raised-button
              color="accent"
              disabled="{{ !publishForm.canSave() }}"
              (click)="onPublishClicked()">Publish</button>

      <!-- Progress Bar -->
      <mat-card-footer *ngIf="showProgressBar">
        <mat-progress-bar mode="indeterminate" color="primary"></mat-progress-bar>
      </mat-card-footer>

    </ng-container>

    <ng-container *ngIf="!settingQueue">
      <mat-label>No changes have been queued.</mat-label>
    </ng-container>
  </mat-card>
</div>
