
<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .toolbar #dropdown-menu {
    align-items: center;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover,
  .toolbar #youtube-logo:hover {
    opacity: 0.8;
  }

  .welcome {
    padding-left: 16px;
    padding-right: 16px;
  }

  .icon {
    padding: 0 14px;
  }

  .content {
    margin: 20px;
    padding-left: 20px;
    flex-direction: column;
    align-items: left;
  }

  svg.material-icons {
    height: 24px;
    width: auto;
  }


  .card svg.material-icons path {
    fill: #888;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card {
    all: unset;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 16px;
    width: 168px;
    display: flex;
    width: auto;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  .terminal {
    position: relative;
    width: 80%;
    max-width: 600px;
    border-radius: 6px;
    padding-top: 45px;
    margin-top: 8px;
    overflow: hidden;
    background-color: rgb(15, 15, 16);
  }

  .terminal::before {
    content: "\2022 \2022 \2022";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    background: rgb(58, 58, 58);
    color: #c2c3c4;
    width: 100%;
    font-size: 2rem;
    line-height: 0;
    padding: 14px 0;
    text-indent: 4px;
  }

  .circle-link {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin: 8px;
    background-color: white;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 1s ease-out;
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

  .table {
    margin: auto;
    width: 90%;
    align-items: center;
    border-top: 1px solid lightgray;
  }

  .mat-column-position {
    width: 10px;
    border-right: 1px solid lightgray;
    padding-right: 24px;
    border-left: 1px solid lightgray;
    text-align: center;
  }

  .mat-column-name {
    border-right: 1px solid lightgray;
    padding-right: 24px;
    padding-left: 24px;
    text-align: center;
    width: 200px;
  }

  .mat-column-action {
    margin: auto;
    text-align: center;
    width: 32px;
    border-right: 1px solid lightgray;
  }

  .menu-selection {
    padding-top: 16px;
  }

  mat-sidenav {
    margin: 16px;
    width: 200px;
    border-right: none;
    background: #002b5c;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
  }

  mat-sidenav-container {
    height: calc(100vh - 65px);
  }

  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }

  .button {
    text-align: center;
  }


</style>

<!-- Toolbar -->
<mat-toolbar color="primary">
  <span class="welcome">New World</span>
  <div class="spacer"></div>
  <mat-form-field class="menu-selection">
    <mat-label>Pick the Website</mat-label>
    <mat-select>
      <mat-option *ngFor="let state of states" [value]="state">
        {{state}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="spacer"></div>
  <mat-icon class="icon" aria-hidden="false" aria-label="Example settings icon" fontIcon="settings"></mat-icon>
  <mat-icon class="icon" aria-hidden="false" aria-label="Profile icon" fontIcon="person"></mat-icon>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side" opened>Sidenav content</mat-sidenav>
  <mat-sidenav-content class="content">
    Main Content
  </mat-sidenav-content>
</mat-sidenav-container>


<router-outlet></router-outlet>
