<p>setting-editor works!</p>

<form>
  <mat-slide-toggle checked="checked">Enabled</mat-slide-toggle>
  <br />
  <mat-form-field>
    <mat-label>Foo *</mat-label>
    <input matInput type="number" value="123" />
  </mat-form-field>
  <br />
  <mat-form-field>
    <mat-label>Bar</mat-label>
    <input matInput type="text" value="Text" />
  </mat-form-field>
  <br />
  <mat-form-field>
    <mat-label>Baz *</mat-label>
    <input matInput type="email" value="a@b.com" />
  </mat-form-field>
</form>
