<div class="category-list">
  <span *ngFor="let breadcrumb of breadcrumbs">
    &gt; <button mat-button (click)="clickBreadcrumb(breadcrumb)">{{breadcrumb.name}}</button>
  </span>
  <form *ngIf="!settingClicked">
    <mat-form-field>
      <input matInput type="text" placeholder="Search for settings..." />
    </mat-form-field>
  </form>
  <mat-action-list *ngIf="!settingClicked">
    <mat-progress-spinner *ngIf="children.length==0" mode="indeterminate"></mat-progress-spinner>
    <mat-divider></mat-divider>
    <div *ngFor="let child of children">
      <button mat-list-item (click)="clickChild(child)">{{child.name}}</button>
      <mat-divider></mat-divider>
    </div>
  </mat-action-list>
  <app-setting-editor *ngIf="settingClicked" [settingName]="settingName" (cancel)="cancel()"></app-setting-editor>
</div>
