<div class="category-list" id="category-list">
  <span id="breadcrumb" *ngFor="let breadcrumb of breadcrumbs">
    &gt;
    <button mat-button (click)="clickBreadcrumb(breadcrumb)">
      {{ breadcrumb.Name }}
    </button>
  </span>
  <form *ngIf="!settingClicked" (ngSubmit)="searchSettings()">
    <mat-form-field>
      <input matInput type="text" placeholder="Setting" name="setting" [(ngModel)]="searchSetting" />
    </mat-form-field>
    <button id="action" mat-raised-button type="submit" color="primary">
      <mat-icon>search</mat-icon>
      Search
    </button>
  </form>

  <mat-action-list *ngIf="!settingClicked">
    <mat-card *ngIf="!dbTargetSet">
      <mat-card-header><mat-card-title>Select a Tenant/Environment Above to Continue</mat-card-title></mat-card-header>
    </mat-card>
    <mat-progress-spinner *ngIf="children.length == 0 && dbTargetSet"
                          mode="indeterminate"></mat-progress-spinner>
    <mat-divider></mat-divider>
    <div *ngFor="let child of children">
      <a href="/#top">
        <button mat-list-item (click)="clickChild(child)">
          {{ child.Name }}
        </button>
      </a>
      <mat-divider></mat-divider>
    </div>
  </mat-action-list>
  <app-setting-editor *ngIf="settingClicked"
                      [settingName]="settingName"
                      (cancel)="cancel()"></app-setting-editor>
</div>
