<head>
  <title>Configurator - Publish</title>
</head>

<div class="header"><h1>Publish</h1><button id="edit" class="button-21" (click)="onEditClicked()">Edit</button></div>
<h2 id="description">{{description}}</h2>
<div id="settingTable">
  <table>
    <tr><th>Setting Name</th><th>Current Value</th><th>New Value</th></tr>
    <ng-container *ngIf="!canEdit">
      <ng-container *ngFor="let setting of settings">
        <tr>
          <td>{{setting.name}}</td>
          <td>{{setting.oldvalue}}</td>
          <td>{{setting.newvalue}}</td>
        </tr>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="canEdit">
      <ng-container *ngFor="let setting of settings">
        <tr>
          <td>{{setting.name}}</td>
          <td>{{setting.oldvalue}}</td>
          <td>{{setting.newvalue}}</td>
          <td><button id="delete" class="button-21" (click)="onDeleteClicked()">Delete</button></td>
        </tr>
      </ng-container>
    </ng-container>
  </table>
</div>


<div class="commit">
  <h3>Commit Message:</h3>
  <textarea id="commitMessage">{{commitMessage}}</textarea>
</div>

<div class="error" *ngIf="errorMessage">
  <h3>Error:</h3>
  <p id="errorMessage">{{errorMessage}}</p>
</div>

<div id="buttons">
  <ng-container *ngIf="!canEdit">
    <button id="publish" class="button-21" (click)="onPublishClicked()">Publish</button>
  </ng-container>
  <ng-container *ngIf="canEdit">
    <button id="save" class="button-21" (click)="onSaveClicked()">Save</button>
    <button id="undoAll" class="button-21" (click)="onUndoAllClicked()">Undo All</button>
  </ng-container>
</div>

