/* Container */
.history-page {
  margin: auto;
  max-width: 960px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.mat-expansion-panel,
.mat-paginator {
  margin: 2px;
}

.mat-expansion-panel-header {
  min-height: 8vh;
}

b {
  padding: 10px;
}
