<div class="history-page">
  <form id="top" (ngSubmit)="getsCommitsByFilter()">
    <!-- Date Range -->
    <mat-form-field>
      <mat-label>Date Range</mat-label>
      <mat-date-range-input
        [rangePicker]="picker"
        [min]="minDate"
        [max]="maxDate"
      >
        <input
          matStartDate
          placeholder="MM/DD/YYY"
          (dateChange)="this.selectedMinDate = $event.value"
        />
        <input
          matEndDate
          placeholder="MM/DD/YYY"
          (dateChange)="this.selectedMaxDate = $event.value"
        />
      </mat-date-range-input>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <button
      mat-icon-button
      type="button"
      color="primary"
      (click)="picker.open()"
    >
      <mat-icon>calendar_today</mat-icon>
    </button>

    <!-- Search by username -->
    <mat-form-field>
      <mat-label>User</mat-label>
      <input
        matInput
        #userInput
        (selectionchange)="this.searchUser = this.userInput.value"
      />
    </mat-form-field>

    <!-- Search for setting  -->
    <mat-form-field>
      <mat-label>Setting</mat-label>
      <input
        matInput
        #settingInput
        (selectionchange)="this.searchSetting = this.settingInput.value"
      />
    </mat-form-field>

    <button id="action" mat-raised-button type="submit" color="primary">
      <mat-icon>search</mat-icon>
      Search
    </button>

    <button id="action" mat-raised-button type="reset" color="accent">
      <mat-icon>youtube_searched_for</mat-icon>
      Clear Filters
    </button>
  </form>

  Showing {{ filteredCommits.length }} out of {{ commits.length }} total commits

  <!-- Paginator  -->
  <mat-paginator
    [length]="filteredCommits.length"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    [pageIndex]="pageIndex"
    (page)="handlePageEvent($event)"
  ></mat-paginator>

  <!-- Commits -->
  <mat-expansion-panel *ngFor="let commit of getPage()">
    <mat-expansion-panel-header>
      <div>
        <mat-panel-title>
          <div class="panel-title">
            <b>
              {{ commit.id }}
            </b>
            <span>
              {{ commit.message }}
            </span>
          </div>
        </mat-panel-title>
        <mat-panel-description>
          {{ commit.user }}
          committed on
          {{ getTimestamp(commit.timestamp) | date : "mediumDate" }}
          at
          {{ getTimestamp(commit.timestamp) | date : "shortTime" }}
        </mat-panel-description>
      </div>
    </mat-expansion-panel-header>
    {{ commit.batch.length }}
    {{ commit.batch.length === 1 ? "setting was" : "settings were" }} modified
    <mat-list>
      <mat-list-item *ngFor="let change of getFirstFewFromBatch(commit.batch)">
        <mat-icon>arrow_right</mat-icon>
        {{ change.settingName }}
        changed from
        {{ change.oldValue }}
        to
        {{ change.newValue }}
      </mat-list-item>
      <mat-list-item *ngIf="getRemainingBatchCount(commit.batch) !== 0">
        <a routerLink="/history/commit/{{ commit.id }}" target="_blank">
          <button mat-button>
            View {{ getRemainingBatchCount(commit.batch) }} more
            {{
              getRemainingBatchCount(commit.batch) === 1 ? "change" : "changes"
            }}
          </button>
        </a>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>

  <!-- Paginator  -->
  <mat-paginator
    *ngIf="pageSize !== pageSizeOptions[0]"
    [length]="filteredCommits.length"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    [pageIndex]="pageIndex"
    (page)="handlePageEvent($event)"
  ></mat-paginator>

  <!-- Jump to top -->
  <a id="jump" href="/history#top" *ngIf="pageSize !== pageSizeOptions[0]">
    <mat-icon>arrow_upward</mat-icon>Jump to top
  </a>
</div>
