<div class="history-page">
  <mat-paginator
    [length]="mockCommits.length"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    [pageIndex]="pageIndex"
    (page)="handlePageEvent($event)"
  >
  </mat-paginator>

  <mat-expansion-panel *ngFor="let commit of getPage()">
    <mat-expansion-panel-header>
      <div>
        <mat-panel-title>
          <div class="panel-title">
            <b>
              {{ commit.id }}
            </b>
            <span>
              {{ commit.message }}
            </span>
          </div>
        </mat-panel-title>
        <mat-panel-description>
          {{ commit.user }}
          committed on
          {{ getTimestamp(commit.timestamp) | date : "mediumDate" }}
          at
          {{ getTimestamp(commit.timestamp) | date : "shortTime" }}
        </mat-panel-description>
      </div>
    </mat-expansion-panel-header>
    {{ commit.batch.length }}
    {{ commit.batch.length === 1 ? "setting was" : "settings were" }} modified
    <mat-list>
      <mat-list-item *ngFor="let change of getFirstFewFromBatch(commit.batch)">
        <mat-icon>arrow_right</mat-icon>
        {{ change.settingName }}
        changed from
        {{ change.oldValue }}
        to
        {{ change.newValue }}
      </mat-list-item>
      <mat-list-item *ngIf="getRemainingBatchCount(commit.batch) !== 0">
        <a routerLink="/history/commit/{{ commit.id }}" target="_blank">
          <button mat-button>
            View {{ getRemainingBatchCount(commit.batch) }} more
            {{
              getRemainingBatchCount(commit.batch) === 1 ? "change" : "changes"
            }}
          </button>
        </a>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</div>
