/* Container */
.history-page {
  margin: auto;
  max-width: 55vw;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.mat-expansion-panel,
.mat-paginator {
  margin: 2px;
}

.mat-expansion-panel-header {
  min-height: 7vh;
}

b {
  padding: 10px;
}

mat-form-field {
  margin-left: 1vw;
}
