<mat-expansion-panel>
  <mat-expansion-panel-header>
    <div>
      <mat-panel-title id="commitHeader">
        <div class="panel-title">
          <a routerLink="/history/commit/{{ commit.CommitId }}" target="_blank">
            <b id="commitId">
              {{ commit.CommitId }}
            </b>
          </a>
          <span id="commitMessage">
            <!-- {{ commit.Message }} -->
            {{ "Placeholder for message field" }}
          </span>
        </div>
      </mat-panel-title>
      <mat-panel-description id="commitSubtitle">
        <div>
          <span id="commitUser">
            {{ commit.QueueChange.User.Name }}
          </span>
          committed on
          <span id="commitDate">
            {{ getTimestamp(commit.Time) | date : "mediumDate" }}
          </span>
          at
          <span id="commitTime">
            {{ getTimestamp(commit.Time) | date : "shortTime" }}
          </span>
        </div>
      </mat-panel-description>
    </div>
  </mat-expansion-panel-header>
  {{ commit.QueueChange.Settings.length }}
  {{
    commit.QueueChange.Settings.length === 1 ? "setting was" : "settings were"
  }}
  modified
  <mat-list id="commitDescription">
    <mat-list-item
      *ngFor="
        let change of getFirstFewFromBatch(commit.QueueChange.Settings);
        index as i
      "
    >
      <mat-icon>keyboard_arrow_right</mat-icon>
      {{ change.Name }}
      changed from
      {{ commit.QueueChange.OriginalSettings.at(i).Parameters.at(0).Value }}
      to
      {{ change.Parameters.at(0).Value }}
    </mat-list-item>

    <mat-list-item
      *ngIf="getRemainingBatchCount(commit.QueueChange.Settings) !== 0"
    >
      <a routerLink="/history/commit/{{ commit.CommitId }}" target="_blank">
        <button mat-button>
          View {{ getRemainingBatchCount(commit.QueueChange.Settings) }} more
          {{
            getRemainingBatchCount(commit.QueueChange.Settings) === 1
              ? "change"
              : "changes"
          }}
        </button>
      </a>
    </mat-list-item>
  </mat-list>
</mat-expansion-panel>
