<p>
  <mat-slide-toggle
    (change)="change()"
    checked="true"
    [(ngModel)]="parameter.isBrowserVisible"
  >
    Is browser visible
    {{ parameter.isBrowserVisible !== this.initialBrowser ? "*" : "" }}
  </mat-slide-toggle>
</p>

<p>
  <mat-form-field>
    <mat-label>
      {{ this.inputLabel }}
      {{ this.parameter.value !== this.initialValue ? "*" : "" }}
    </mat-label>
    <input
      matInput
      [type]="type"
      (change)="change()"
      [(ngModel)]="parameter.value"
    />
  </mat-form-field>
</p>
