<div class="commit-page">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <b>
          {{ commit.CommitId }}
        </b>
        {{ commit.CommitMessage }}
      </mat-card-title>
      <mat-card-subtitle>
        {{ commit.QueueChange.User.Name }}
        committed on
        {{ getTimestamp(commit.Time) | date : "mediumDate" }}
        at
        {{ getTimestamp(commit.Time) | date : "shortTime" }}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div>
        {{ "Reference Id: " + commit.ReferenceId }}
      </div>
      <div>
        {{ commit.QueueChange.Settings.length }}
        {{
          commit.QueueChange.Settings.length === 1
            ? "setting was"
            : "settings were"
        }}
        modified
      </div>
      <mat-list>
        <mat-list-item
          *ngFor="let change of commit.QueueChange.Settings; index as i"
        >
          <mat-icon>keyboard_arrow_right</mat-icon>
          {{ change.oldSetting.Name }}
          changed from
          {{ change.oldSetting.Parameters.at(0).Value }}
          to
          {{ change.newSetting.Parameters.at(0).Value }}
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
