<div class="commit-page">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <b>
          {{ commit.CommitId }}
        </b>
        <!-- {{ commit.Message }} -->
        {{ "Placeholder for message field" }}
      </mat-card-title>
      <mat-card-subtitle>
        {{ commit.QueueChange.User.Name }}
        committed on
        {{ getTimestamp(commit.Time) | date : "mediumDate" }}
        at
        {{ getTimestamp(commit.Time) | date : "shortTime" }}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      {{ commit.QueueChange.Settings.length }}
      {{
        commit.QueueChange.Settings.length === 1
          ? "setting was"
          : "settings were"
      }}
      modified
      <mat-list>
        <mat-list-item
          *ngFor="let change of commit.QueueChange.Settings; index as i"
        >
          <mat-icon>keyboard_arrow_right</mat-icon>
          {{ change.Name }}
          changed from
          {{ commit.QueueChange.OriginalSettings.at(i).Parameters.at(0).Value }}
          to
          {{ change.Parameters.at(0).Value }}
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
