<!-- Toolbar -->
<mat-toolbar color="primary">
  <span>New World</span>
  <span class="spacer"></span>

  <!-- Tenant Selector -->
  <app-tenant-selector></app-tenant-selector>
  
  <span class="spacer"></span>
  <button mat-icon-button>
    <mat-icon>person</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>settings</mat-icon>
  </button>
</mat-toolbar>
<!-- Main Container -->
<mat-drawer-container>
  <!-- Side Navigation -->
  <mat-drawer mode="side" [opened]="isSidebarToggled()" id="sideNav">
    <button mat-button routerLink="configuration" id="configuration">
      <mat-icon>settings</mat-icon>
      <span>Configuration</span>
    </button>
    <button mat-button routerLink="publish" id="publish">
      <mat-icon>library_books</mat-icon>
      <span>Publish</span>
    </button>
    <button mat-button routerLink="history" id="history">
      <mat-icon>history</mat-icon>
      <span>History</span>
    </button>
    <span class="spacer"></span>
  </mat-drawer>
  <!-- Content -->
  <button
    mat-mini-fab
    matTooltip="Toggle sidebar"
    matTooltipPosition="right"
    (click)="toggleSidebar()"
    color="accent"
    id="sideNavToggle"
  >
    <mat-icon>{{ toggleDirection }}</mat-icon>
  </button>
  <router-outlet></router-outlet>
</mat-drawer-container>
