<!-- Toolbar -->
<mat-toolbar color="primary">
  <span>New World</span>
  <span class="spacer"></span>
  <mat-form-field>
    <mat-label>Select a website</mat-label>
    <mat-select [(value)]="selected">
      <mat-option *ngFor="let state of states" [value]="state">
        {{ state }}
        {{ changeSite(selected) }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <span class="spacer"></span>
  <button mat-icon-button>
    <mat-icon>person</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>settings</mat-icon>
  </button>
</mat-toolbar>

<!-- Main Container -->
<mat-drawer-container>
  <!-- Side Navigation -->
  <mat-drawer #drawer mode="side">
    <button mat-button routerLink="configuration">
      <mat-icon>settings</mat-icon>
      <span>Configuration</span>
    </button>
    <button mat-button routerLink="publish">
      <mat-icon>library_books</mat-icon>
      <span>Publish</span>
    </button>
    <button mat-button routerLink="history">
      <mat-icon>history</mat-icon>
      <span>History</span>
    </button>
    <span class="spacer"></span>
  </mat-drawer>
  <!-- Content -->
  <button
    mat-mini-fab
    matTooltip="Toggle sidebar"
    matTooltipPosition="right"
    (click)="toggle_sidebar(this.drawer)"
    color="accent"
  >
    <mat-icon>{{ toggle_direction }}</mat-icon>
  </button>
  <router-outlet></router-outlet>
</mat-drawer-container>
